@model IEnumerable<TaskManagementApp.Models.Tasks>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks | Overview</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new task</a>
</p>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SysModified)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-truncate" style="max-width: 430px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                @if (item.Status != Status.Completed)
                {
                    <a asp-action="MarkAsCompleted" asp-route-id="@item.ID" class="btn btn-success">Mark as completed</a>
                }
                else
                {
                    <button class="btn btn-secondary" disabled>Mark as completed</button>
                }
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
